@font-face {
    font-family: 'TT Norms';
    font-weight: 700;
    src: url('./fonts/TTNorms-Medium.otf');
}

body {
    width: 375px;
    height: 812px;
    top: 206px;
    left: 168px;
    gap: 0px;
    border-radius: 40px 0px 0px 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;

}

h1 {
    width: 328px;
    height: 40px;
    top: 68px;
    left: 16px;
    gap: 0px;
    opacity: 0px;

}